<div class="row">
<div class=" offset-s4 col 12">
	<% @posts.reverse.each do |post| %>

	<div class="card hoverable row">
		
		<div class="picture_on_feed">
			<img id="images" src="<%=post.image_url%>"/>
		</div>
		<div class="card-content">
			<p><%= post.user.username %></p>
			<p><%= post.caption %></p>

		</div>
	</div>

	<% end %> 
</div>
</div>
