<!DOCTYPE html>
<html>
<head>
	<title>Flinstagram</title>
</head>
<body>
	<nav>
		<div>
			<a href='/'>HOME</a>
			<% if logged_in? %>
				<a href="/new_post">NEW POST</a>
				<a href="/logout">LOGOUT</a>
			<% else %>
				<a href="/login">LOGIN</a>
				<a href='/new_user'>SIGN UP</a>
			<% end %> 
		</div>
	</nav>
	<%= yield %>
</body>
</html>